{% extends 'base.html.twig' %}

{% block full_height %}{% endblock %}

{% block title %}Modifier mon mot de passe - La boutique{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    <br><br>

    {% if notification %}
        <div class="alert alert-info">
            {{ notification }}
        </div>
    {% endif %}

    {{ form(form) }}
{% endblock %}