{% extends 'base.html.twig' %}

{% block title %}Inscription - La boutique{% endblock %}

{% block full_height %}{% endblock %}

{% block content %}
    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        <hr>
        {{ form(form) }}
        <p class="text-center">Souhaitez-vous <a href="{{ path('app_login') }}" >vous connecter</a> ?</p>
    </div>
{% endblock %}